name: ci
on:
  pull_request:
  push:
    branches:
      - main
permissions:
  contents: read
env:
  GO_VERSION: 1.24
jobs:
  tests:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:9.5@sha256:57c892ddeb17e6c7dddf219914db017b2cf3e2797806a75424444b83622cc8ef
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: mysql
          MYSQL_USER: mysql
          MYSQL_PASSWORD: mysql
          MYSQL_HOST: 127.0.0.1
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: setup Go environment
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ env.GO_VERSION }}
          cache-dependency-path: "**/*.sum"
      - name: Test
        run: go test -v ./...
      - name: Integration tests
        run: go test -v ./...
        env:
          INTEGRATION_TESTS: "true"
          MYSQL_URL: "mysql:mysql@tcp(127.0.0.1:3306)/mysql"
