name: Run commands when issues are labeled
permissions: {}

on:
  issues:
    types: [labeled]
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Actions
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: "grafana/grafana-github-actions"
          persist-credentials: false
          path: ./actions
          ref: main
      - name: Install Actions
        run: npm install --production --prefix ./actions
      - name: Run Commands
        uses: ./actions/commands
        env:
          ISSUE_COMMANDS_TOKEN: ${{secrets.ISSUE_COMMANDS_TOKEN}}
        with:
          token: ${ISSUE_COMMANDS_TOKEN}
          configPath: issue_commands
